#history {
    position: relative;
}

  #history .description {
    margin-top: 10px; /* タイトルとの間隔を調整 */
    font-size: 1.1rem; /* フォントサイズを微調整 */
    color: #555; /* テキストカラー */
    line-height: 1.4; /* 行間を微調整 */
    text-align: center; /* 説明文も中央揃え */
  }
  
